@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


a {text-decoration: none;
   color: grey; 

}

a:hover { color: darkgoldenrod;
        
}

a:visited {color: blueviolet;}

.container {
    max-width: 750px;
    margin: auto;
}

.img {
      box-shadow: 4px 4px 14px black;
      margin-bottom: 10px;
      margin-top: 15px;
      border-radius: 25px;
      display: block;
}


body {background-color: #f3f1f1;
    font-family: 'Roboto', verdana, sans-serif;
    }

.hobbi,.table,.form {
    border-left: 20px solid  darkorange;
    padding: 25px;
    background-color: bisque;
    margin: 5px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;


}

.information p {font-weight: normal;
                font-style: italic; 
}

.btn {border-radius: 5px;
     padding: 5px;  
     margin-top: 10px; 
         
}
.btn:hover {cursor: pointer;
            opacity: .8;
}

.table-in {width: 100%;
        
}
.list {padding: 20px;}
.table-in td:nth-child(2), .table-in td:nth-child(3) {color: darkgray;}

.table-header {font-weight: 900;

                }
.table-in tr:nth-child(2) {color: black;}

.hobbi {padding: 25px 25px 0px 25px; }

.list {padding: 0px 20px 20px 20px;}

.information1 {
            display: flex;
           
}

.information {margin-left: 20px;}

.contact {margin-bottom: 20px;
text-decoration: none;}

.contact a {color: darkgrey;}
.form input, textarea {background-color: inherit;
                        outline: none;
                        border: none;
                        border-bottom: 1px solid black;
                        width: 100%;
                        margin-bottom: 20px;
                        box-sizing: border-box;
}

@media (max-width: 650px) {
    .container {text-align: center;
    padding: 10px;
    font-size: normal;}

}

@media (max-width: 650px) {
    .information1 {text-align: center;
        display: block;
        text-align: center;
 }
    
}


@media (max-width: 650px) {
    .img {text-align: center;
        display: inline;

        
 }
    
}




